In [6]:
from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd

start_date = '2004-08-19'
end_date = '2020-04-17'
google_data = data.DataReader('GOOGL','yahoo', start_date, end_date)
google_data.head(9)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  52.082081  48.028027  50.050049  50.220219  44659000.0  50.220219
2004-08-20  54.594593  50.300301  50.555557  54.209209  22834300.0  54.209209
2004-08-23  56.796795  54.579578  55.430431  54.754753  18256100.0  54.754753
2004-08-24  55.855854  51.836838  55.675674  52.487488  15247300.0  52.487488
2004-08-25  54.054054  51.991993  52.532532  53.053055   9188600.0  53.053055
2004-08-26  54.029030  52.382381  52.527527  54.009010   7094800.0  54.009010
2004-08-27  54.364365  52.897900  54.104103  53.128128   6211700.0  53.128128
2004-08-30  52.797798  51.056057  52.692692  51.056057   5196700.0  51.056057
2004-08-31  51.906906  51.131130  51.201202  51.236237   4917800.0  51.236237

In [103]:
import numpy as np
url_tmpl = 'https://finance.naver.com/item/main.nhn?code=005930' #삼성전자

dfs = pd.read_html(url_tmpl, encoding='euc-kr')
dfs=dfs[3]
dfs.head(10)
dfa=dfs.loc[[9,10]]
dfa.head(11)
#첫번째 열값 변경.
dfa.columns=["1","2","3","4","5","6","7","8","9","10","11"]
dfa.head(11)
np.array(dfa['9'].tolist())
np.array(dfa['10'].tolist())
#이거 행을 추출해야되는데 시간이없어서 내일 다시해봄
a=list(np.array(dfa['9'].tolist()))
b=list(np.array(dfa['10'].tolist()))
print (a)

[808.0, 16.52]

In [74]:
import pandas as pd
import requests

URL = "https://finance.naver.com/item/main.nhn?code=005930"

samsung_electronic = requests.get(URL)
html = samsung_electronic.text

financial_stmt = pd.read_html(samsung_electronic.text)[3]

financial_stmt.set_index(('주요재무정보', '주요재무정보', '주요재무정보'), inplace=True)
financial_stmt.index.rename('주요재무정보', inplace=True)
financial_stmt.columns = financial_stmt.columns.droplevel(2)
print(financial_stmt)

             최근 연간 실적                                       최근 분기 실적  \
              2017.12     2018.12     2019.12  2020.12(E)    2019.09
주요재무정보
매출액        2395754.00  2437714.00  2304009.00  2382030.00  620035.00
영업이익        536450.00   588867.00   277685.00   369666.00   77779.00
당기순이익       421867.00   443449.00   217389.00   277703.00   62877.00
영업이익률           22.39       24.16       12.05       15.52      12.54
순이익률            17.61       18.19        9.44       11.66      10.14
ROE(지배주주)       21.01       19.63        8.69       10.41      10.05
부채비율            40.68       36.97       34.12         NaN      34.14
당좌비율           181.61      204.12      233.57         NaN     235.80
유보율          24536.12    27531.92    28856.02         NaN   28541.64
EPS(원)        5421.00     6024.00     3166.00     4053.00     899.00
PER(배)           9.40        6.42       17.63       18.21      13.73
BPS(원)       30427.00    35342.00    37528.00    40363.00   37600.00
PBR(배)           1.67        1.09        1.49        1.83       1.30
주당배당금(원)       850.00     1416.00     1416.00     1599.00        NaN
시가배당률(%)         1.67        3.66        2.54         NaN        NaN
배당성향(%)         14.09       21.92       44.73         NaN        NaN


             2019.12    2020.03    2020.06    2020.09 2020.12(E)
주요재무정보
매출액        598848.00  553252.00  529661.00  669642.00  629458.00
영업이익        71603.00   64473.00   81463.00  123532.00  100512.00
당기순이익       52270.00   48849.00   55551.00   93607.00   78142.00
영업이익률          11.96      11.65      15.38      18.45      15.97
순이익률            8.73       8.83      10.49      13.98      12.41
ROE(지배주주)       8.69       8.45       8.49       9.51        NaN
부채비율           34.12      34.19      32.67      36.09        NaN
당좌비율          233.57     237.80     250.04     229.69        NaN
유보율         28856.02   29134.12   29477.97   30242.29        NaN
EPS(원)        770.00     720.00     808.00    1364.00    1094.00
PER(배)         17.63      15.24      16.52      15.89      67.44
BPS(원)      37528.00   38053.00   38534.00   39446.00   40363.00
PBR(배)          1.49       1.25       1.37       1.48       1.83
주당배당금(원)         NaN        NaN        NaN        NaN        NaN
시가배당률(%)         NaN        NaN        NaN        NaN        NaN
배당성향(%)          NaN        NaN        NaN        NaN        NaN