In [4]:
                                                                                                                                                                                                                                                                                                                                                                from datetime import datetime
import lxml
from lxml import html
import requests
import numpy as np
import pandas as pd

symbol = 'MSFT'

url = 'https://finance.yahoo.com/quote/' + symbol + '/balance-sheet?p=' + symbol

# Set up the request headers that we're going to use, to simulate
# a request by the Chrome browser. Simulating a request from a browser
# is generally good practice when building a scraper
headers = {
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
    'Cache-Control': 'max-age=0',
    'Pragma': 'no-cache',
    'Referrer': 'https://google.com',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/77.0.3865.120 Safari/537.36'
}

# Fetch the page that we're going to parse, using the request headers
# defined above
page = requests.get(url, headers)

# Parse the page with LXML, so that we can start doing some XPATH queries
# to extract the data that we want
tree = html.fromstring(page.content)

# Smoke test that we fetched the page by fetching and displaying the H1 element
tree.xpath("//h1/text()")

['Microsoft Corporation (MSFT)']

In [5]:
table_rows = tree.xpath("//div[contains(@class, 'D(tbr)')]")

# Ensure that some table rows are found; if none are found, then it's possible
# that Yahoo Finance has changed their page layout, or have detected
# that you're scraping the page.
assert len(table_rows) > 0

parsed_rows = []

for table_row in table_rows:
    parsed_row = []
    el = table_row.xpath("./div")
    
    none_count = 0
    
    for rs in el:
        try:
            (text,) = rs.xpath('.//span/text()[1]')
            parsed_row.append(text)
        except ValueError:
            parsed_row.append(np.NaN)
            none_count += 1

    if (none_count < 4):
        parsed_rows.append(parsed_row)

df = pd.DataFrame(parsed_rows)
df

,0,1,2,3,4
0,Breakdown,6/30/2020,6/30/2019,6/30/2018,6/30/2017
1,Total Assets,"301,311,000","286,556,000","258,848,000","241,086,000"
2,Total Liabilities Net Minority Interest,"183,007,000","184,226,000","176,130,000","168,692,000"
3,Total Equity Gross Minority Interest,"118,304,000","102,330,000","82,718,000","72,394,000"
4,Total Capitalization,"177,882,000","168,992,000","154,960,000","148,467,000"
5,Common Stock Equity,"118,304,000","102,330,000","82,718,000","72,394,000"
6,Capital Lease Obligations,"7,671,000","6,188,000","5,568,000",NaN
7,Net Tangible Assets,"67,915,000","52,554,000","38,982,000","27,166,000"
8,Working Capital,"109,605,000","106,132,000","111,174,000","95,324,000"
9,Invested Capital,"181,631,000","174,508,000","158,958,000","158,588,000"
10,Tangible Book Value,"67,915,000","52,554,000","38,982,000","27,166,000"
11,Total Debt,"70,998,000","78,366,000","81,808,000","86,194,000"
12,Net Debt,"49,751,000","60,822,000","64,294,000","78,531,000"
13,Share Issued,"7,571,000","7,643,000","7,677,000","7,708,000"
14,Ordinary Shares Number,"7,571,000","7,643,000","7,677,000","7,708,000"

In [6]:
https://www.mattbutton.com/2019/01/24/how-to-scrape-yahoo-finance-and-extract-fundamental-stock-market-data-using-python-lxml-and-pandas/

SyntaxError: invalid syntax (<ipython-input-6-2850b23242b7>, line 1)

IndentationError: expected an indented block (<ipython-input-10-f07ed53b5725>, line 8)