### Variance
Variance is a statistical measure of how much a set of observations differ from each other. In accounting and financial analysis, variance also refers to how much an actual expense deviates from the budgeted or forecast amount. Variance is a measure of volatility because it measures how much a stock tends to deviate from its mean. The higher the variance, the more wildly the stock fluctuates. Accordingly, the higher the variance, the riskier the stock.     
source: https://investinganswers.com/dictionary/v/variance

It measures the dispersion of a set of data points around the mean.

Formula link : https://www.fool.com/knowledge-center/how-to-calculate-the-historical-variance-of-stock.aspx

In [14]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [31]:
tickers = ['PG', 'NVDA']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2010-1-1')['Adj Close']

In [32]:
sec_data.tail()

                    PG        NVDA
Date
2020-11-16  142.429993  540.609985
2020-11-17  141.880005  536.890015
2020-11-18  139.699997  537.150024
2020-11-19  139.529999  537.609985
2020-11-20  139.300003  523.510010

In [33]:
sec_returns = np.log(sec_data/sec_data.shift(1))

In [34]:
sec_returns ## Security Returns.

                  PG      NVDA
Date
2010-01-04       NaN       NaN
2010-01-05  0.000327  0.014497
2010-01-06 -0.004754  0.006376
2010-01-07 -0.005438 -0.019792
2010-01-08 -0.001323  0.002159
...              ...       ...
2020-11-16 -0.012905  0.016280
2020-11-17 -0.003869 -0.006905
2020-11-18 -0.015484  0.000484
2020-11-19 -0.001218  0.000856
2020-11-20 -0.001650 -0.026577

[2742 rows x 2 columns]

In [35]:
sec_returns['PG'].mean()

0.00042430822928548305

In [36]:
sec_returns['PG'].mean() * 250

0.10607705732137077

In [37]:
sec_returns['PG'].std() ## std() - Calculates standard deviation.

0.010842950669401323

In [38]:
sec_returns['PG'].std() * 250 ** 0.5 ## ** is Exponentiation

0.1714421033607779

### Nvidia

In [39]:
sec_returns['NVDA'].mean()

0.0012502921564487316

In [40]:
sec_returns['NVDA'].mean() * 250

0.3125730391121829

In [41]:
sec_returns['NVDA'].std()

0.026691372885532475

In [42]:
sec_returns['NVDA'].std() * 250 ** 0.5

0.4220276609757168

In [45]:
print(sec_returns['PG'].mean() * 250)
print(sec_returns['NVDA'].mean() * 250)

0.10607705732137077
0.3125730391121829

In [49]:
sec_returns[['PG', 'NVDA']].mean() * 250

PG      0.106077
NVDA    0.312573
dtype: float64

In [50]:
sec_returns[['PG', 'NVDA']].mean() * 250 ** 0.5

PG      0.006709
NVDA    0.019769
dtype: float64