In [2]:
import pandas as pd 

#해당 링크는 한국거래소에서 상장법인목록을 엑셀로 다운로드하는 링크입니다.
#다운로드와 동시에 Pandas에 excel 파일이 load가 되는 구조입니다.
stock_code = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0] 
#stock_code.head()

# 데이터에서 정렬이 따로 필요하지는 않지만 테스트겸 Pandas sort_values를 이용하여 정렬을 시도해봅니다.
stock_code.sort_values(['상장일'], ascending=True)

# 필요한 것은 "회사명"과 "종목코드" 이므로 필요없는 column들은 제외
stock_code = stock_code[['회사명', '종목코드']] 

# 한글 컬럼명을 영어로 변경 
stock_code = stock_code.rename(columns={'회사명': 'company', '종목코드': 'code'}) 
#stock_code.head()

# 종목코드가 6자리이기 때문에 6자리를 맞춰주기 위해 설정해줌 
stock_code.code = stock_code.code.map('{:06d}'.format)

In [3]:
#원하는 종목 txt파일에 저장해놨고 불러오는거
import os  
path = "./aaa.txt" 
file=open(path,'r', encoding='UTF-8') 
selected_company=file.read() 
selected_company=selected_company.split("\n") 
print(selected_company)
print(selected_company[1])

['삼성전자', 'SK하이닉스', '삼성바이오로직스', 'LG화학', 'NAVER']
SK하이닉스

In [4]:
# 데이터들의 일별 시세 url 가져오기 
df = pd.DataFrame()
for i in selected_company :
    company=i 
#    file_2.write(i+"\n")   
    code = stock_code[stock_code.company==company].code.values[0].strip() ## strip() : 공백제거
    page = 1
    url = 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code=code)     
    url = '{url}&page={page}'.format(url=url, page=page)
    print(url)
    df = pd.read_html(url, header=0)[0]
#회사이름별로 구별하기 위해 컬럼 추가
#    df.insert(0,i,0)
#cvs 파일로 현재 디렉토리에 저장. mode append    
    df.to_csv('bbbb.csv', mode='a')
#저장된 파일 불러와보기    
a=pd.read_csv("./bbbb.csv")
a.head(40)
# 여기까지만함 아직 더못했음 밑에는 원래코드임

http://finance.naver.com/item/sise_day.nhn?code=005930&page=1
http://finance.naver.com/item/sise_day.nhn?code=000660&page=1
http://finance.naver.com/item/sise_day.nhn?code=207940&page=1
http://finance.naver.com/item/sise_day.nhn?code=051910&page=1
http://finance.naver.com/item/sise_day.nhn?code=035420&page=1

,Unnamed: 0,날짜,종가,전일비,시가,고가,저가,거래량
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2020.12.07,72600.0,1100.0,72400.0,73500.0,71900.0,17571356.0
2,2.0,2020.12.04,71500.0,1800.0,70400.0,72100.0,70100.0,28130533.0
3,3.0,2020.12.03,69700.0,200.0,70100.0,70500.0,69300.0,23677989.0
4,4.0,2020.12.02,69500.0,1700.0,68400.0,69900.0,68300.0,29703942.0
5,5.0,2020.12.01,67800.0,1100.0,67100.0,68300.0,67100.0,22327173.0
6,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9.0,2020.11.30,66700.0,1500.0,68400.0,68600.0,66700.0,43811016.0
10,10.0,2020.11.27,68200.0,200.0,68000.0,68400.0,67600.0,14063434.0
11,11.0,2020.11.26,68000.0,1400.0,66100.0,68000.0,66000.0,19023323.0
12,12.0,2020.11.25,66600.0,1100.0,67900.0,68300.0,66500.0,32447065.0
13,13.0,2020.11.24,67700.0,200.0,67900.0,69500.0,67000.0,32158235.0
14,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,날짜,종가,전일비,시가,고가,저가,거래량
16,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1.0,2020.12.07,118500.0,3500.0,118500.0,120000.0,116000.0,3085283.0
18,2.0,2020.12.04,115000.0,3500.0,116000.0,119500.0,112500.0,8258814.0
19,3.0,2020.12.03,111500.0,2500.0,110500.0,114500.0,109000.0,6617912.0
20,4.0,2020.12.02,109000.0,8500.0,103000.0,109500.0,103000.0,7488361.0
21,5.0,2020.12.01,100500.0,3000.0,98600.0,101500.0,97800.0,4455519.0
22,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,9.0,2020.11.30,97500.0,1300.0,99700.0,99800.0,97300.0,3877841.0
26,10.0,2020.11.27,98800.0,600.0,99600.0,99900.0,98200.0,1976047.0
27,11.0,2020.11.26,99400.0,2200.0,96800.0,99500.0,96300.0,2933290.0
28,12.0,2020.11.25,97200.0,1400.0,100500.0,100500.0,96300.0,4081524.0
29,13.0,2020.11.24,98600.0,1400.0,101000.0,102000.0,98300.0,3766043.0
30,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,날짜,종가,전일비,시가,고가,저가,거래량
32,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,1.0,2020.12.07,835000.0,10000.0,833000.0,848000.0,827000.0,178810.0
34,2.0,2020.12.04,825000.0,20000.0,802000.0,828000.0,798000.0,301856.0
35,3.0,2020.12.03,805000.0,15000.0,786000.0,805000.0,782000.0,143791.0
36,4.0,2020.12.02,790000.0,3000.0,796000.0,796000.0,777000.0,146554.0
37,5.0,2020.12.01,793000.0,7000.0,794000.0,799000.0,786000.0,76336.0
38,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
import numpy as np
company='LG화학' 
code = stock_code[stock_code.company==company].code.values[0].strip() ## strip() : 공백제거

df = pd.DataFrame()
for page in range(1,10):
    url = 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code=code)     
    url = '{url}&page={page}'.format(url=url, page=page)
    print(url)
    df = df.append(pd.read_html(url, header=0)[0], ignore_index=True)
df=df.dropna()
# 일자(date)를 기준으로 오름차순 정렬 
df = df.sort_values(by=['날짜'], ascending=True) 
dfa=df.loc[:,['날짜','종가']]
#dfa= dfa.dropna()
dfa.head(5)
# df의 날짜, 종가 열을 list값으로 변환시켜 a,b에 저장
np.array(dfa['날짜'].tolist())
np.array(dfa['종가'].tolist())
a=list(np.array(dfa['날짜'].tolist()))
b=list(np.array(dfa['종가'].tolist()))
print (a)
#print (b)
c=[]
#print(type(c))

#증감율 계산하여 리스트로 저장.
for i in range(len(b)):
    if i==(len(b)-1):
        break
    c.append(round(100*(b[i+1]-b[i])/b[i],2))
print(c)
c.insert(0, 0)
print(len(c))
#증감율을 원래 df에 추가
df.insert(2,'증감율',c)
dfb=df
#dfb.tail(10)
#df.tail(5)

http://finance.naver.com/item/sise_day.nhn?code=051910&page=1
http://finance.naver.com/item/sise_day.nhn?code=051910&page=2
http://finance.naver.com/item/sise_day.nhn?code=051910&page=3
http://finance.naver.com/item/sise_day.nhn?code=051910&page=4
http://finance.naver.com/item/sise_day.nhn?code=051910&page=5
http://finance.naver.com/item/sise_day.nhn?code=051910&page=6
http://finance.naver.com/item/sise_day.nhn?code=051910&page=7
http://finance.naver.com/item/sise_day.nhn?code=051910&page=8
http://finance.naver.com/item/sise_day.nhn?code=051910&page=9
['2020.08.06', '2020.08.07', '2020.08.10', '2020.08.11', '2020.08.12', '2020.08.13', '2020.08.14', '2020.08.18', '2020.08.19', '2020.08.20', '2020.08.21', '2020.08.24', '2020.08.25', '2020.08.26', '2020.08.27', '2020.08.28', '2020.08.31', '2020.09.01', '2020.09.02', '2020.09.03', '2020.09.04', '2020.09.07', '2020.09.08', '2020.09.09', '2020.09.10', '2020.09.11', '2020.09.14', '2020.09.15', '2020.09.16', '2020.09.17', '2020.09.18', '2020.09.21', '2020.09.22', '2020.09.23', '2020.09.24', '2020.09.25', '2020.09.28', '2020.09.29', '2020.10.05', '2020.10.06', '2020.10.07', '2020.10.08', '2020.10.12', '2020.10.13', '2020.10.14', '2020.10.15', '2020.10.16', '2020.10.19', '2020.10.20', '2020.10.21', '2020.10.22', '2020.10.23', '2020.10.26', '2020.10.27', '2020.10.28', '2020.10.29', '2020.10.30', '2020.11.02', '2020.11.03', '2020.11.04', '2020.11.05', '2020.11.06', '2020.11.09', '2020.11.10', '2020.11.11', '2020.11.12', '2020.11.13', '2020.11.16', '2020.11.17', '2020.11.18', '2020.11.19', '2020.11.20', '2020.11.23', '2020.11.24', '2020.11.25', '2020.11.26', '2020.11.27', '2020.11.30', '2020.12.01', '2020.12.02', '2020.12.03', '2020.12.04', '2020.12.07', '2020.12.08', '2020.12.09', '2020.12.10', '2020.12.11', '2020.12.14', '2020.12.15', '2020.12.16']
[9.71, -3.49, 5.28, -2.24, -0.54, -5.02, -1.43, -1.01, -2.34, 4.8, 0.43, 1.57, 6.17, 0.66, -0.39, -2.5, 0.41, -0.13, 3.5, -3.26, -3.1, -1.53, -1.41, 2.0, -1.12, 0.99, 1.97, -5.37, -6.11, 3.26, -5.86, 1.91, -1.41, -3.02, 2.62, -0.16, 4.47, 0.76, 2.28, 0.89, 1.76, -2.89, -4.17, -2.48, 1.43, 0.47, -3.91, 0.98, -0.64, 3.57, 1.72, -0.62, -2.17, 1.58, 1.4, -6.14, 1.96, 5.3, -0.91, 4.15, 6.35, 1.94, -4.36, -1.42, 0.0, 1.88, -3.97, 1.33, 3.35, 1.69, 0.42, 3.31, 6.82, -1.38, 3.55, -0.74, -1.23, 1.12, 3.96, 0.59, 0.0, -3.55, -0.61, 3.08, -2.27, -1.1, -1.86, 1.01, 2.25]
90

In [65]:
# df.dropna()를 이용해 결측값 있는 행 제거 
df = df.dropna() 

# 한글로 된 컬럼명을 영어로 바꿔줌 
df = df.rename(columns= {'날짜': 'date', '종가': 'close', '증감율':'diffratio','전일비': 'diff', '시가': 'open', '고가': 'high', '저가': 'low', '거래량': 'volume'}) 
# 데이터의 타입을 int형으로 바꿔줌 
df[['close', 'diff', 'diffratio', 'open', 'high', 'low', 'volume']] = df[['close', 'diff', 'diffratio', 'open', 'high', 'low', 'volume']].astype(float) 

# 컬럼명 'date'의 타입을 date로 바꿔줌 
df['date'] = pd.to_datetime(df['date']) 

# 일자(date)를 기준으로 오름차순 정렬 
df = df.sort_values(by=['date'], ascending=True) 
df.head()

,date,close,diffratio,diff,open,high,low,volume
133,2020-07-28,528000.0,0.00,11000.0,526000.0,532000.0,521000.0,372041.0
132,2020-07-29,527000.0,-0.19,1000.0,527000.0,538000.0,523000.0,315710.0
131,2020-07-30,530000.0,0.57,3000.0,530000.0,533000.0,523000.0,244581.0
130,2020-07-31,568000.0,7.17,38000.0,541000.0,580000.0,532000.0,1376453.0
129,2020-08-03,635000.0,11.80,67000.0,578000.0,650000.0,577000.0,1715295.0

In [66]:
import matplotlib.pyplot as plt
# 필요한 모듈 import 하기 
import plotly
import plotly.graph_objects as go
import plotly.express as px

# %matplotlib inline 은 jupyter notebook 사용자용 - jupyter notebook 내에 그래프가 그려지게 한다.
%matplotlib inline

In [68]:
fig = px.line(df, x='date', y=['close', 'diffratio'], title='{}의 종가(close) Time Series'.format(company))

fig.update_xaxes(
    rangeslider_visible=True,
    rangeselector=dict(
        buttons=list([
            dict(count=1, label="1m", step="month", stepmode="backward"),
            dict(count=3, label="3m", step="month", stepmode="backward"),
            dict(count=6, label="6m", step="month", stepmode="backward"),
            dict(step="all")
        ])
    )
)
#fig.show()
fig.write_html("file.html")

TypeError: parallel_coordinates() got an unexpected keyword argument 'x'