In [2]:
import quandl

In [3]:
mydata_01 = quandl.get("FRED/GDP")

In [4]:
mydata_01.tail()

                Value
Date
2019-07-01  21540.325
2019-10-01  21747.394
2020-01-01  21561.139
2020-04-01  19520.114
2020-07-01  21157.635

In [5]:
mydata_01.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742

In [6]:
import pandas as pd

In [ ]:
mydata_01.to_csv()